<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="strength">
        Strength
      </label>
      <input type="number" placeholder="10 (+0)" id="strength" name="strength" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="dexterity">
        Dexterity
      </label>
      <input type="number" placeholder="10 (+0)" id="dexterity" name="dexterity" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="constitution">
        Constitution
      </label>
      <input type="number" placeholder="10 (+0)" id="constitution" name="constitution" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="intelligence">
        Intelligence
      </label>
      <input type="number" placeholder="10 (+0)" id="intelligence" name="intelligence" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="wisdom">
        Wisdom
      </label>
      <input type="number" placeholder="10 (+0)" id="wisdom" name="wisdom" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="charisma">
        Charisma
      </label>
      <input type="number" placeholder="10 (+0)" id="charisma" name="charisma" disabled>
    </div>
  </div>
</div>

